
header {
    display: flex;
    padding-top: 65px;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
}
.left-block {
    display: flex;
    align-items: center;
}
.left-block .links {
    margin-left: 100px;
    display: flex;
    gap: 30px;
}
.active {
    color: #25202F;
}
.menu {
    cursor: pointer;
}
@media (max-width: 600px) {
    .left-block .links {
        display: none;
    }
    header {
        padding-top: 0 !important;
    }
}
