.hello {
    display: flex;
    min-height: 780px;
}
.hello-block {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    z-index: 1;
}
.hello-img {
    position: absolute;
    right: 0;
    width: 50%;
}
@media (max-width: 1100px) {
    .hello {
        width: 100%;
        background-size: 500px auto;
    }
}
