.services {
    font-size: 16px;
    margin-top: -110px;
}
.cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.card {
    width: 33%;
}
.services img {
    width: 62px;
}
.card-title {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.card-text {
    margin-top: 21px;
    line-height: 32px;
    color: #47444E;
}
@media (max-width: 780px) {
    .cards {
        flex-direction: column;
    }
}
